
/[Ll]ibrary/
/[Tt]emp/
/[Obj]/
/[Build]/
/[Builds]/
/[Ll]ogs/
/[Uu]serSettings/
[Mm]emoryCaptures/

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.temp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db

